[user]
    name = Chris W Hendricks
    email = <email>
    signingkey = 802FDE93FFEC43A7

[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global
    autocrlf = input

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[credential]
    helper = osxkeychain

[commit]
    gpgsign = true

[gpg]
    program = gpg

[difftool]
    prompt = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[mergetool]
    keepBackup = false

[pager]
    branch = false

[rerere]
    enabled = true

[pull]
    rebase = true

[rebase]
    autostash = true
    autosquash = true

[init]
    defaultBranch = main

[include]
    path = ~/.gitconfig.local
    path = ~/.gitconfig.aliases